* {
    font-family: 'Work Sans', sans-serif;
}

nav {
    margin: 10px 120px;
}

.icon {
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.nav-item ul li {
    list-style: none;
    cursor: pointer;
}

ul {
    align-items: center;
    display: flex;
    gap: 32px;
}

#social-item {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 7px 10px;
}

/* banner style */


.banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin: 0px 120px;
}

.banner-title {
    color: #0B0223;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin: 0px;
}

#goat-text-banner {
    text-align: center;
    color: #db38f5;
    font-size: 8rem;
    font-weight: 800;
    margin: 0px;
}

.banner-info {
    /* padding-top: 180px; */
    text-align: justify;
}

.banner-img {
    padding-left: 85px;

}

.btn-primary {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    cursor: pointer;
}

.btn-secondary {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
    cursor: pointer;
}

/* Gamers Section */
.gamers {
    margin: 0px 120px 0px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: end;
}

.characters img {
    width: 700px;

}

.gamers-description {
    color: #534C64;
    font-size: 12px;
    font-weight: 400;
}

.hide {
    display: none;
}

/* Funny videos */
.funny-videos{
    margin-top: 50px;
}
.funny-videos-heading{
    text-align: center;
}
.video-section{
    display: flex;
    justify-content: space-around;
    /* gap: 10px; */
    margin: 10px 120px;
}
.video-section .video img{
    width: 250px;
}
.video img:hover{
    border: 2px solid #FF42A5;
    border-radius: 15px;

}
/*  */
.instant-play{
    margin: 100px 130px 20px 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px 10px 50px;
}
.instant-play-title{
    width: 300px;
    text-align: right;
    padding-bottom: 250px;
}
.collapse-pic{
    position: relative;
}
.collapse-pic img{
    position: relative;
    top: -210px;
}
.collapse-pic img{
    position: relative;
    left: -100px;
}
/* Game Types */
.games-type{
    padding: 120px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-evenly;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}
.games{   
    font-size: 12px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    background: white;
}
.games:hover{
    border: 2px solid #FF42A5;
}
footer{
    padding: 120px;
    background: #0B0223;
}
.footer-links a{
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
.footer-links{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

/* Footer */
.footer-icon{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.social-links{
    padding: 50px 240px;
    
    display: flex;
    justify-content: space-around;
}
.others{
    display: flex;
    justify-content: center;
}
.others a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    margin-left: 30px;
}


/* Make responsive */
/* mobile device  */

@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
        /* margin: 50px 50px; */
        margin: auto;
        padding: 0px 120px;
        align-items: center;
    }


    .navbar ul {
        padding: 0px;
    }

    .navbar ul li {
        font-size: 15px;
    }

    /* Banner */
    .banner {
        grid-template-columns: repeat(1, 1fr);
        margin: 50px 50px;
        text-align: center;
    }

    .banner-title {
        font-size: 1rem;
    }

    #goat-text-banner {
        font-size: 4rem;
    }

    .banner-utilities {
        text-align: center;
    }

    .banner-img img {
        height: 300px;
        margin: auto;
    }

    .banner-img {
        padding: 0px;
    }
    .gamers{
        flex-direction: column;
        text-align: center;
        margin: 50px 50px;
    }
    .characters img{
        width: 100%;
    }
    .video-section{
        flex-direction: column;
    }
    .video-section .video  img{
        width: 100%;
    }
    .instant-play{
        flex-direction: column;
    }
    .instant-play-image {
        
    }
    .rider{
        margin: 10px 100px;
    }
    .games-type, .footer-links{
        grid-template-columns: repeat(3, 1fr);
    }

}


/* Tablet */
@media screen and (min-width: 576px) and (max-width: 768px){
    .games-type{
        grid-template-columns: repeat(4, 1fr);
    }
}